/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
   font-family: "Petrona", "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
   font-size: 1.125em;
   line-height: 1.33333333em;
   padding: 1.33333333em;
   background: #3C3B3B;
   color: white;
 }

h1 {
   font-size: 1.7em;
   margin: .33em;
}

header {
   padding-bottom: 1em;
   padding-right: 1em;
   padding-left: 1em;
}

p {
   font-size: 1em; 
   line-height: 1.5714285714285714em; 
   margin-bottom: .5em;
}

#Information {
   border: .33em solid #979697;
   margin-bottom: .33em;
   padding: .2em;
}

#Information a:link, a:visited {
   color: white;
   background-color: transparent;
   text-decoration: underline;
 }

#Education {
   border: .33em solid #979697;
   margin-bottom: .33em;
   padding: .2em;
}

#Experience {
   border: .33em solid #979697;
   margin-bottom: .33em;
   padding: .2em;
}

#Skills {
   border: .33em solid #979697;
   margin-bottom: .33em;
   padding: .2em;
}

#hobbies {
   border: .33em solid #979697;
   margin-bottom: .33em;
   padding: .2em;
}

#teams {
   border: .33em solid #979697;
   margin-bottom: .33em;
   padding: .2em;
}

#games {
   border: .33em solid #979697;
   margin-bottom: .33em;
   padding: .2em;
}

#abt {
   margin-top: .5em;
   border: .33em solid #979697;
   padding: .2em;
}

#page {
   margin-bottom: .5em;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

nav {
   margin-top: .5em;
   border: .2em solid #979697;
   padding: .1em;
   list-style-type: none;
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 0;
   overflow: hidden;
   overflow-wrap: normal;
}

nav a {
   float: left;
   display: block;
   color: white;
   text-align: center;
   width: 25%;
   text-decoration: none;
}

body {
   display: grid;
   grid-template-columns: minmax(0.66666667em,1fr) minmax(min-content,45ch) minmax(0.66666667em,1fr)
}

header,
footer,
main,
nav,
section {
  grid-column: 2 / 3;
}

h2 { 
 font-size: 1.33em;
 }

h3 { 
 font-size: 1.1em; 
 line-height: 1.2em;
 }

ul, ol { 
   margin-bottom: 1em
}

li {
   margin-left: 1.2em;
}

footer {
   bottom: 0em;
   font-size: .5em;
   background-color: #3C3B3B;
   text-align: center;
   color: white;
   float: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: .5em;
}

img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   float: center;
   grid-column: 2 / 3;
   border: .33em solid #979697;
}
